<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHEMBTI</title>
</head>
<body>
  <!-- <form action="/submit/" method="post"> -->
  <form action="{% url 'main:submit' %}" method="post">
    {% csrf_token %}
    {% for question in questions %}
      <h3>{{ question.number }}. {{ question.content }}</h3>
      {% for choice in question.choice_set.all %}
        <div>
          <input type="radio" name="question-{{ question.number }}" id="choice-{{ choice.pk }}" value="{{ choice.mbtiType }}">
          <label for="choice-{{ choice.pk }}">{{ choice.content }}</label>
        </div>
      {% endfor %}
      <hr>
    {% endfor %}
    <input type="submit" value="제출하기">
  </form>
</body>
</html>